@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.login-root {
}

.login-head {
  background-color: black;
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

.login-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
  padding: 2rem;
}

.loginkey {
  justify-self: end;
  padding-right: 2rem;
  font-family: "Roboto";
}

.loginvalue {
  border-radius: 4px;
  padding: 0.2rem;
}

.login-btn {
  width: 120px;
  height: 30px;
  border-radius: 4px;
  background-color: #01b600;
  color: white;
  border: none;
}

.login-btndiv {
  display: flex;
  justify-content: center;
}

.login-footer {
  display: flex;
  padding: 2rem;
  justify-content: center;
}

.header {
  font-size: 2rem;
}
